.section__inner {
    padding: 75px 0;
}
.container {
    max-width: 1199px;
    margin: auto;
}
.categories {
    text-align: center;
}
.categories__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.categories__item {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.categories__item-image {
    
}
.categories__item-image img {
    width: 100%;
}
.categories__item-text {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    line-height: 1.1;
    color: #fff;
}
.categories__item-text a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.categories__item-text h6 span {
    font-size: 20px;
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 70%;
    }
    
}